

<footer>
  <p class="text-center">&copy; Dec 2024, The Restaurant. All Rights Reserved</p>
</footer>

<script src="/public/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
