

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon Icon -->
<link rel="icon" type="image/x-icon" href="/public/icons/cutlery.svg">

<!-- Title -->
<title>The Restaurant</title>

<!-- CSS (Bootstrap CDN link) -->
<link href="/public/bootstrap-5.3.3-dist/css/bootstrap.min.css" media="all" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"> -->

<!-- Local CSS -->
 <link href="/public/css/style.css" rel="stylesheet" type="text/css">
 <link href="/public/css/logo.css" rel="stylesheet" type="text/css">
 <link href="/public/css/nav.css" rel="stylesheet" type="text/css">
 <link href="/public/css/product/productList.css" rel="stylesheet" type="text/css">
 <link href="/public/css/logReg/style.css" rel="stylesheet" type="text/css">
 <link href="/public//css/product/addProduct.css" rel="stylesheet" type="text/css">
 <link href="/public/css/product/productLanding.css" rel="stylesheet" type="text/css">

 <!-- Font Awesome Icons CDN -->
<script src="https://kit.fontawesome.com/4c13c2293f.js" crossorigin="anonymous"></script>

<style>
  body {
    padding-top: 4.5rem;
  }
</style>