
<nav class="navbar main-header-nav">
  <a class="navbar-brand" href="/">The Restaurant</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/api/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addProduct">+New</a>
    </li>
  </ul>
  <div class="log-regi-btn-main-div">
    <div>
      <button class="btn">
        <a href="/login">Login</a></button>
    </div>
    <div>
      <button class="btn">
        <a href="/register">Register</a></button>
    </div>
  </div>
</nav>