

.navbar-brand {
  font-size: x-large;
  color: #fcedd8;
   font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: -1px 1px 1px #eb452b, 
              -2px 2px 0px #efa032, 
              -3px 3px 0px #46b59b, 
              -4px 4px 0px #017e7f, 
              -5px 5px 0px #052939, 
              -6px 6px 0px #c11a2b, 
              -7px 7px 0px #c11a2b, 
              -8px 8px 0px #c11a2b, 
              -9px 9px 0px #c11a2b;
  transition: all 0.05s linear;
  margin: -6px 0 0 0;

}

.navbar-brand:hover {
  color: var(--secondary-color);
}