.main-header-nav {
  /* margin-bottom: 0 ; */
  padding: 0;
}

.navbar-nav {
  display: -webkit-inline-box;
}

.nav-item {
  margin: 5px;
}

.navbar-nav>li>a {
  padding: 4px;
  transition: all 0.15s;
  color: var(--white);
}

.navbar-nav>li>a:hover {
  color: var(--secondary-color);
  text-decoration: var(--secondary-color) 2px underline;
}


.log-regi-btn-main-div {
  display: flex;
  float: inline-end;
  height: 50px;
  align-items: center;
  gap: 10px;
}

.log-regi-btn-main-div>div>button {
  background-color: var(--black);
  transition: all 0.2s;
  color: var(--white);
  padding: 2px 10px;
}

.log-regi-btn-main-div>div>button:hover {
  background-color: var(--secondary-color);
}