


:root {
  --primary-color: #FFB300;
  --primary-color: #ff440c;
  --secondary-color: #AEEA00;
  --secondary-color: #3afc00;
  --third-color: #FFEB3B;
  --fourth-color: #76ff03;
  --fifth-color: #FF6F20;
  --black: #000000;
  --white: #ffffff;
  --white-dim: #ffffff88;
}

/* Header CSS */


.main-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
}



/* Body CSS */
a,
a:hover {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

.fw-bold {
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  min-height: calc(100vh - 100px);
  margin-bottom: 60px;
}


/* Hide number input's inner button */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

form > div.form-group {
  margin-bottom: 18px;
}





/* Footer CSS */
footer {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: auto;
  background-color: var(--black);
  padding-top: 16px;
  color: var(--white-dim);
}