

.product-form-section {
  min-width: 300px;
  max-width: 600px;
  margin: 30px auto;
} 

.product-form-section > form > button {
  float: right;
}

.product-form-section form > div.form-group {
  position: relative;
}

.product-form-section .addPrdctPriceInptSpan {
  position: absolute;
  top: 32px;
  left: 10px;
  font-size: 15px;
}

.product-form-section form div.form-group #inputProductPrice {
  padding-left: 25px;
}


.my-alert {
  position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 20px !important;
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: smaller;
    letter-spacing: 1px;
    background-color: var(--green);
    border-radius: 0;
}

.my-alert-error {
  background-color: var(--danger);
  color: var(--white);
}